<div class="p-8 ">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <mat-card
      class="p-8 transform transition duration-500 hover:scale-105 hover:shadow-xl bg-white bg-opacity-90 rounded-lg">
      <h1 class="text-3xl font-bold text-purple-700 mb-4 text-center animate-fade-in">Apply Leave</h1>

      <button
        class="  bg-gradient-to-r text-center from-green-400 to-blue-500 text-white font-semibold py-3 px-8 rounded shadow-md transition duration-300 transform hover:scale-105 hover:shadow-lg"
        mat-flat-button (click)="applyLeave()">
        Apply Leave
      </button>


    </mat-card>

    <mat-card
      class="p-8 transform transition duration-500 hover:scale-105 hover:shadow-xl bg-white bg-opacity-90 rounded-lg">
      <h1 class="text-3xl font-bold text-purple-700 mb-4 text-center animate-fade-in">Mark-Your Attendance</h1>

      <button
        class="  bg-gradient-to-r text-center from-green-400 to-blue-500 text-white font-semibold py-3 px-8 rounded shadow-md transition duration-300 transform hover:scale-105 hover:shadow-lg"
        mat-flat-button (click)="markAttendance()">
        Mark-Your Attendance
      </button>


    </mat-card>
  </div>
</div>
