<mat-card>
  <table mat-table [dataSource]="data" class="mat-elevation-z8 w-full">

    @for (col of displayedColumns; track $index) {
    @if (getColumnKey(col) === 'action') {
    <ng-container [matColumnDef]="'action'">
      <th mat-header-cell *matHeaderCellDef class="text-left">{{ getHeaderTitle(col) }}</th>
      <td mat-cell *matCellDef="let row">
        @if (isColumnObject(col) && col.buttons) {
        @for (btn of getButtons(col, row); track $index) {
        <button mat-flat-button [color]="getButtonColor(btn)" class="m-1" (click)="onButtonClick(btn, row)">
          {{ btn }}
        </button>
        }
        } @else {
        <button mat-flat-button color="primary" class="m-1" (click)="edit(row)">
          Edit
        </button>
        <button mat-flat-button
          class="m-1 bg-red-600! text-white hover:bg-red-700! rounded px-4 py-2 transition duration-200"
          (click)="delete(row)">
          Delete
        </button>
        <!-- ✅ CORRECT -->
        <button mat-flat-button class="!bg-green-600 text-white m-1" (click)="onAttendance.emit(row)">
          Attendance
        </button>



        }
      </td>
    </ng-container>
    } @else {
    <ng-container [matColumnDef]="getColumnKey(col)">
      <th mat-header-cell *matHeaderCellDef class="text-left">{{ getHeaderTitle(col) }}</th>
      <td mat-cell *matCellDef="let row">
        {{ getFormattedValue(row, col) }}
      </td>
    </ng-container>
    }
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns.map(getColumnKey)"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns.map(getColumnKey)"></tr>
  </table>
</mat-card>